<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCompanies</servlet-name>
        <servlet-class>AddCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProducts</servlet-name>
        <servlet-class>GetProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProducts</servlet-name>
        <servlet-class>AddProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServices</servlet-name>
        <servlet-class>AddServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetServices</servlet-name>
        <servlet-class>AdminGetServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServices</servlet-name>
        <servlet-class>GetServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminGetCompanies</servlet-name>
        <servlet-class>AdminGetCompanies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAllOrders</servlet-name>
        <servlet-class>AdminAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartItem</servlet-name>
        <servlet-class>ConfirmCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCart</servlet-name>
        <servlet-class>ClearCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCompanies</servlet-name>
        <url-pattern>/add-company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProducts</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProducts</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServices</servlet-name>
        <url-pattern>/add-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetServices</servlet-name>
        <url-pattern>/list-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServices</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminGetCompanies</servlet-name>
        <url-pattern>/list-companies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAllOrders</servlet-name>
        <url-pattern>/a-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/list-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartItem</servlet-name>
        <url-pattern>/confirm-cart-item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCart</servlet-name>
        <url-pattern>/clear-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/remove-from-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
